 @property --size-scale {
     initial-value: 1;
     inherits: false;
 }
 
 html {
     --size-scale: 1
 }
.employee-card {
    width: 95%;
    height: calc(var(--size-scale)*120px);
    display: flex;
    flex-flow: row nowrap;
    margin: auto;
}
.doubled{
    --size-scale: 2
}
.card-photo {
    margin: 10px;
    height: calc(var(--size-scale)*100px);
    width: calc(var(--size-scale)*100px);
    border: 2px black solid;
    border-radius: 50%;
}

.card-photo>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.card-info {
    padding-left: 20px;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    font-size: calc(0.5em + var(--size-scale)*0.5em);
}

.active {
    box-shadow: 7px 2px 30px 1px rgba(0, 0, 0, 0.68)
}

.employee-list-card:hover .card-photo {
    box-shadow: 7px 2px 30px 1px rgba(0, 0, 0, 0.68)
}