#root {
  margin: auto;
  padding: 2rem;
  display:flex;
  justify-content: center;
  text-align: center;
}


.page{
  border: 3px black solid;
  width: 50%;
  height: 70vh;
  border-radius: 10px;
}

.container{
  border: 4px red double;
  display: flex;
  justify-content: center;
  width: 80vw;
  border-radius: 10px;
  gap:2px
}