.contact-info {
border-width: 3px;
    border-style: solid;
    border-image:
        linear-gradient(to bottom,
            black,
            white) 7 30 1 5;
    width: 93%;
    margin: auto;
    text-align: left;
    padding-left: 2%;
    
}
